.card {
    height: 370px;
    width: 50%;
    margin-top: 10%;
    margin-bottom: auto;
    color: white;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.5) !important;
  }
  .navbar-brand{
    margin-left: 20px;
  }
  .login_btn {
    color: black;
    background-color: mediumorchid;
    margin-top: 40px;
    width: 100px;
    float: right;
  }
  
  .login_btn:hover {
    color: black;
    background-color: white;
  }
  
  label {
    font-size: 20px;
    margin-bottom: 20px;
  }
  
  .modal-title {
    color: black;
  }
  