<div>
    <h1>Welcome {{adminName.userId}}</h1>
  <div>
    <form>
      <div class="form-group form-inline">
        <label for="userId">Delete User</label>
        <input type="text" class="form-control" [(ngModel)]="userId" name="userId" id="userId"
          placeholder="Enter user Id to delete user" />
      </div>
      <button class="btn btn-primary" (click)="deleteUser()">
        Submit
      </button>
    </form>
  </div>
  <hr>
  <div>
    <h1>User List</h1>
    <table style="width:100%">
      <tr>
        <th *ngFor = "let values of headings">
            {{values}}
        </th>
      </tr>
      <tr *ngFor = "let row of userData">
          <td *ngFor = "let values of headers">
            {{row[values]}}
          </td>
      </tr>
    </table>
  </div>
</div>
