tr {
  color: white;
  font-size: 20px;
  border: 2px solid black;
  border-collapse: collapse;
  margin-right: 20px;
  text-align: center;
}
th{
  color: aqua;
  font-weight: 100;
}

.btn {
  margin: 10px;
  margin-left: 20px;
}

h1 {
  color: wheat;
  font-size: 25px;
  text-align: center;
}

.form-group {
  color: wheat;
  margin: 5px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 20px;
  font-weight: 100;
  align-content: center;
}

.flex-container {
  display: flex;
}

.flex-child {
  flex: auto;
}  

label{
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 300;
}


