<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">Portfolio Manager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" (click)="goToSignUp()">Sign-Up</a>
      </li>
    </ul>
  </div>
</nav>

<div class="container">
  <div class="d-flex justify-content-center h-100">
    <div class="card">
      <div class="card-header">
        <h3>Sign-In</h3>
      </div>
      <div class="card-body">
        <form>
          <label for="username">User-Name</label>
          <div class="input-group form-group">
            <input type="userName" [(ngModel)]="userName" name="userName" #mailId="ngModel" class="form-control"
              placeholder="Enter User Name" />
          </div>
          <label for="username">Password</label>
          <div class="input-group form-group">
            <input type="password" [(ngModel)]="userPassword" name="userPassword" class="form-control"
              placeholder="Enter password" />
          </div>
          <div class="form-group">
            <input type="submit" value="Login" class="btn login_btn" (click)="signinFn()" />
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
