h1 {
  color: wheat;
  font-size: 25px;
  text-align: center;
}

.form-group {
  color: white;
  margin: 5px;
  margin-left: 20px;
  margin-right: 20px;
  font-size: 20px;
  font-weight: bold;
  align-content: center;
}

.btn {
  margin: 10px;
  margin-left: 20px;
}
